<header class="clearfix">
    <div class="container">
        <div class="header-left">
            <h1>Apartment Finder</h1>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <nav>
                <a href="/landlord">Home</a>
                <a href="/landlord/tours">Tours Scheduled</a>
                <a href="/landlord/listings/new">Add new Listing</a>
                <a href="/landlord/charts">Charts</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </div>
</header>