    <header class="clearfix">
        <div class="container">
            <div class="header-left">
                <h1>Apartment Finder</h1>
            </div>
            <div class="header-right">
                <label for="open">
                    <span class="hidden-desktop"></span>
                </label>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Inspiration</a>
                    <a href="#">Articles</a>
                    <a href="#">Works</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    <section class="clearfix">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="container">
            <div class="row">
                <div class="filter-controls">
                    Filter
                    <label for="bedrooms">Number of Bedrooms:</label>
                    <select id="bedrooms">
                        <option value="all">All</option>
                        <option value="1">1 Bedroom</option>
                        <option value="2">2 Bedrooms</option>
                        <option value="3">3 Bedrooms</option>
                        <option value="4">4 Bedroom</option>
                        <option value="5">5 Bedrooms</option>
                        <option value="6">6 Bedrooms</option>
                    </select>
                    <label for="bathrooms">Number of Bedrooms:</label>
                    <select id="bathrooms">
                        <option value="all">All</option>
                        <option value="1">1 Bathrooms</option>
                        <option value="2">2 Bathrooms</option>
                        <option value="3">3 Bathrooms</option>
                        <option value="4">4 Bathrooms</option>
                        <option value="5">5 Bathrooms</option>
                        <option value="6">6 Bathrooms</option>
                    </select>
                    <label for="minRent">Minimum Rent</label>
                    <input type="number" name="minRent" id="minRent" value="">
                    <label for="maxRent">Maximum rent</label>
                    <input type="number" name="maxRent" id="maxRent" value="">



                    <button onclick="applyFilters()">Apply Filters</button>
                </div>

            </div>
            <div class="row" id="listings">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="my-list">
                        <img src="https://www.thespruce.com/thmb/cPaZ1eA5WqKLYH4kSry7wrMYsDM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/EleanorEmail-847750221ae1499c972c977f279d2d5e.png" alt="dsadas" />
                        <h3>2BHK | Jersey CityJersey CityJersey City</h3>
                        <span> 12,000 </span>
                        <span class="pull-right ml-2">|1.5 Bath </span>
                        <span class="pull-right pr-2">2 Bed</span>
                        <div class="offer">Posted on: 12/12/2023: </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script type="application/javascript">

    const originalListings = {{{listings}}};
    let displayedListings = originalListings;

    const container = document.getElementById('listings');

    const renderListings = () => {
        // Clear existing listings
        container.innerHTML = '';
        displayedListings = originalListings.filter(listing => {
            return (
                listing.active === 1
            );
        });

        // Render filtered listings
        displayedListings.forEach(obj => {
            const card = document.createElement('div');
            card.className = 'col-lg-3 col-md-3 col-sm-6 col-xs-12';
            const dateObject = new Date(obj.createdOn);
            const formattedDate = dateObject.toLocaleDateString();


            card.innerHTML = `
               <div class="my-list" >
                    <img src="${obj.images[0]}" alt="${obj.address}" />
                   <a href="/listing?id=${obj._id}"> <h3 >For Rent at ${obj.address}, ${obj.city}, ${obj.state}</h3></a>
                    <span>${obj.rentPrice}</span>
                    <span   class="pull-right ml-2">|${obj.numberOfBathrooms} Bath </span>
                    <span class="pull-right pr-2">${obj.numberOfBedrooms} Bed</span>
                    <div class="offer">Posted on: ${formattedDate}</div>
                </div>
            `;
            container.appendChild(card);
        });
    };

    const applyFilters = () => {
        const bedroomsFilter = document.getElementById('bedrooms').value;
        const minRentFilter = parseFloat(document.getElementById('minRent').value) || 0;
        const maxRentFilter = parseFloat(document.getElementById('maxRent').value) || Number.POSITIVE_INFINITY;
        const bathroomsFilter = document.getElementById('bathrooms').value;

        // Apply filters
        displayedListings = originalListings.filter(listing => {
            return (
                (bedroomsFilter === 'all' || listing.numberOfBedrooms == bedroomsFilter) &&
                (bathroomsFilter === 'all' || listing.numberOfBathrooms == bathroomsFilter) &&
                listing.rentPrice >= minRentFilter &&
                listing.rentPrice <= maxRentFilter
            );
        });

        renderListings();
    };

    // Add event listener for the Apply Filters button

document.addEventListener("DOMContentLoaded", function() {
    renderListings();
});

</script>

