{{> header}}

<section class="clearfix">




        <div class="container">

            <div class="row">
                <div class="filter-controls">
                    Filter
                    <label for="bedrooms">Number of Bedrooms:</label>
                    <select id="bedrooms">
                        <option value="all">All</option>
                        <option value="1">1 Bedroom</option>
                        <option value="2">2 Bedrooms</option>
                        <option value="3">3 Bedrooms</option>
                        <option value="4">4 Bedroom</option>
                        <option value="5">5 Bedrooms</option>
                        <option value="6">6 Bedrooms</option>
                    </select>
                    <label for="bathrooms">Number of Bedrooms:</label>
                    <select id="bathrooms">
                        <option value="all">All</option>
                        <option value="1">1 Bathrooms</option>
                        <option value="2">2 Bathrooms</option>
                        <option value="3">3 Bathrooms</option>
                        <option value="4">4 Bathrooms</option>
                        <option value="5">5 Bathrooms</option>
                        <option value="6">6 Bathrooms</option>
                    </select>
                    <label for="minRent">Minimum Rent</label>
                    <input type="number" name="minRent" id="minRent" value="">
                    <label for="maxRent">Maximum rent</label>
                    <input type="number" name="maxRent" id="maxRent" value="">



                    <button onclick="applyFilters()">Apply Filters</button>
                </div>

            </div>

            <div class="row" id="listings">
                <h4>No listings available </h4>
            </div>
        </div>
    </section>



    <script type="application/javascript">


    const originalListings = {{{listings}}};
    let displayedListings = originalListings;

    const container = document.getElementById('listings');


    const renderListings = () => {
        // Clear existing listings
        container.innerHTML = '';


        displayedListings.sort((a, b) => new Date(b.createdOn) - new Date(a.createdOn));



        // Render filtered listings
        displayedListings.forEach(obj => {
            const card = document.createElement('div');
            card.className = 'col-lg-3 col-md-3 col-sm-6 col-xs-12';
            const dateObject = new Date(obj.createdOn);
            const formattedDate = dateObject.toLocaleDateString();


            card.innerHTML = `
               <div class="my-list" >
                    <img src="${obj.images[0]}" alt="${obj.address}" />
                   <a href="/listing?id=${obj._id}"> <h3 >For Rent at ${obj.address}, ${obj.city}, ${obj.state}</h3></a>
                    <span>${obj.rentPrice}</span>
                    <span   class="pull-right ml-2">|${obj.numberOfBathrooms} Bath </span>
                    <span class="pull-right pr-2">${obj.numberOfBedrooms} Bed</span>
                    <div class="offer">Posted on: ${formattedDate}</div>
                </div>
            `;
            container.appendChild(card);
        });
    };

    const applyFilters = () => {
        const bedroomsFilter = document.getElementById('bedrooms').value;
        const minRentFilter = parseFloat(document.getElementById('minRent').value) || 0;
        const maxRentFilter = parseFloat(document.getElementById('maxRent').value) || Number.POSITIVE_INFINITY;
        const bathroomsFilter = document.getElementById('bathrooms').value;

        // Apply filters

        displayedListings = originalListings.filter(listing => {
            return (
                (bedroomsFilter === 'all' || listing.numberOfBedrooms == bedroomsFilter) &&
                (bathroomsFilter === 'all' || listing.numberOfBathrooms == bathroomsFilter) &&
                listing.rentPrice >= minRentFilter &&
                listing.rentPrice <= maxRentFilter
            );
        });

        renderListings();
    };

    // Add event listener for the Apply Filters button

document.addEventListener("DOMContentLoaded", function() {
    renderListings();
});

</script>

