{{> landlordHeader}}

<section class="clearfix">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <h2>Your Listings</h2>
        <div class="row" id="listings">

            <h4>You have not listed and property yet. please go to add new listings tab to add. </h4>

        </div>
    </div>
</section>



<script type="application/javascript">

    const originalListings = {{{listings}}};
    let displayedListings = originalListings;

    const container = document.getElementById('listings');

    const renderListings = () => {
        // Clear existing listings
        container.innerHTML = '';
        displayedListings = originalListings.filter(listing => {
            return (
                listing.active === 1
            );
        });
        displayedListings.sort((a, b) => new Date(b.createdOn) - new Date(a.createdOn));


        // Render filtered listings
        displayedListings.forEach(obj => {
            const card = document.createElement('div');
            card.className = 'col-lg-3 col-md-3 col-sm-6 col-xs-12';
            const dateObject = new Date(obj.createdOn);
            const formattedDate = dateObject.toLocaleDateString();


            card.innerHTML = `
               <div class="my-list" >
                    <img src="${obj.images[0]}" alt="${obj.address}" />
                   <a href="/landlord/listing?id=${obj._id}"> <h3 >For Rent at ${obj.address}, ${obj.city}, ${obj.state}</h3></a>
                    <span>${obj.rentPrice}</span>
                    <span   class="pull-right ml-2">|${obj.numberOfBathrooms} Bath </span>
                    <span class="pull-right pr-2">${obj.numberOfBedrooms} Bed</span>
                    <div class="offer">Posted on: ${formattedDate}</div>
                </div>
            `;
            container.appendChild(card);
        });
    };


document.addEventListener("DOMContentLoaded", function() {
    renderListings();
});

</script>

